body {
    font-family: 'HarmonyOS Sans SC Regular', 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../background.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 1s;
    color: #e0e0e0;
    overflow: auto; /* 允许页面滚动 */
}

/* 隐藏滚动条 */
body::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#fullscreen-btn, #settings-btn {
    position: absolute;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1f1f1f;
    color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1001;
}

#fullscreen-btn {
    right: 20px;
}

#settings-btn {
    right: 120px; /* Fullscreen button's left */
}

#settings-btn:hover, #fullscreen-btn:hover {
    background-color: #333;
    transform: scale(1.05);
}

.container {
    padding: 20px;
    max-width: 1400px; /* 增加主体部分宽度 */
    margin: auto;
    background-color: rgba(31, 31, 31, 0.5); /* 使用rgba设置背景透明度 */
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room {
    font-size: 3.5rem;
    font-weight: bold;
    color: #e0e0e0;
    position: relative;
    right: 0;
    margin-left: 20px; /* 调整位置使其保持在container中 */
}

#message {
    font-size: 1.5rem;
    color: #16a3d1;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 2px; /* 板块间隔2px */
}

.left-column, .right-column {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.clock-section, .info-section, .right-column {
    background-color: rgba(31, 31, 31, 0.5); /* 亚克力效果 */
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#current-time {
    font-size: 6rem;
    text-align: center;
    color: #7cc3fb;
    margin: 0;
    font-weight: bold;
}

#current-subject, #exam-timing, #remaining-time, #status {
    font-size: 3rem;
    margin: 10px 0;
    text-align: left;
    color: #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #333;
    background-color: rgba(31, 31, 31, 0.5);
}

th, td {
    border: 1px solid #333;
    padding: 8px; /* 缩短行高 */
    font-size: 2rem;
    text-align: center;
}

th {
    background-color: #333;
    color: #7cc3fb;
    font-weight: bold;
    border-bottom: 2px solid #2b71ad;
}

.exam-status-进行中 td {
    color: #5ba838 !important; /* 绿色字体 */
}

.exam-status-即将开始 td {
    color: #fe9901 !important; /* 橙色字体 */
}

.exam-status-已结束 td {
    color: #ec0434 !important; /* 红色字体 */
}

.exam-status-空闲 td {
    color: blue !important; /* 蓝色字体 */
}

tr:hover {
    background-color: #333;
}

table {
    border-radius: 8px;
    overflow: hidden;
}

td {
    border-bottom: 1px solid #333;
}

td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#settings-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#settings-modal-content {
    background-color: #1f1f1f;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

#settings-modal-content label {
    font-size: 2rem;
}

#settings-modal-content input[type="number"],
#settings-modal-content input[type="text"] {
    font-size: 2rem;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #121212;
    color: #e0e0e0;
}

#settings-modal-content input:focus {
    outline: none;
    border-color: #007acc;
    box-shadow: 0 0 0 1px #007acc;
}

#settings-modal-content button {
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    background-color: #93b4f7;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#settings-modal-content button:hover {
    background-color: #45a049;
}

#close-settings-btn {
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#close-settings-btn:hover {
    background-color: #c9302c;
}
